<div
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 11"
>
  <div
    class="toast align-items-center border-0"
    [class.bg-success]="toastType === 'success'"
    [class.bg-info]="toastType === 'info'"
    [class.bg-danger]="toastType === 'error'"
    [class.text-white]="true"
    [class.show]="showToast()"
    role="alert"
  >
    <div class="d-flex">
      <div class="toast-body">
        <i
          class="fas me-2"
          [class.fa-check-circle]="toastType === 'success'"
          [class.fa-info-circle]="toastType === 'info'"
          [class.fa-exclamation-circle]="toastType === 'error'"
        ></i>
        {{ toastMessage }}
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        (click)="hideToast()"
      ></button>
    </div>
  </div>
</div>
